@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Define your dark mode styles here */
body.dark-mode {
    background-color: #222 !important;
    color: #bdb6b6 !important;
}

body.dark-mode .fa-moon {
    color: #f1eeee !important;
}

/* Add any additional dark mode styles for specific elements */
body.dark-mode nav {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Add more dark mode styles as needed */
body.dark-mode .navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

body.dark-mode .content-header,body.dark-mode .content-wrapper,body.dark-mode .box,body.dark-mode .box-body,body.dark-mode .main-footer {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

body.dark-mode p, body.dark-mode a, body.dark-mode i {
    color: #f1eeee;
}

body.dark-mode .modal-content {
    background-color: #333;
    color: #817f7f;
}


body.dark-mode input, body.dark-mode select, body.dark-mode .page-link {
    background-color: #333;
    color: #817f7f;
}

body.dark-mode .card {
    background-color: #333;
    color: #817f7f;
}

body.dark-mode .dropdown-menu {
    background-color: #333;
    color: #817f7f;
}

body.dark-mode #comment {
    background-color: #333;
    color: #817f7f;
}


/* body.dark-mode table tr {
    background-color: #222;
    color: #fff;
} */


nav#navHeader{
    background: rgba(62, 119, 206,0.7)
}

/* carousel  */
.carousel-item {
    height: 300px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 6px;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.carousel-caption h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 14px;
    margin-bottom: 0;
}

.carousel-caption small {
    font-size: 14px;
    font-style: italic;
}

.image-frontendoverlay{
    position: relative;
    overflow: hidden;
}

.image-frontendoverlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
}

.image-frontendoverlay .image-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
}

.image-frontendoverlay .image-caption p {
    margin: 0;
    font-size: 14px;
}


.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }

  .image-overlay.open {
    display: flex;
  }

  .close-btn {
    position: absolute;
    top: 40px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
  }

  .clickable-img {
    cursor: pointer;
    object-fit:contain;
  }


  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #1097a8 !important;
  }

  .toast-top-custom {
    top: 250px !important;
}


.gallery_img a img {
    width: 33%;
    margin: 0;
    padding: 5px;
}

.travel_news {
    height:7rem;
    width:10rem;
}

.LiveTV {
    position:fixed;
    top: 60px;
    right:20px;
}

@media (max-width: 600px) {
    .gallery_img a img {
        width: 100%;
    }

    .travel_news {
        height:3rem;
        width:3rem;
        line-height: 3rem;

    }
}

/* @media (max-width: 799px) {
    .gallery_img a img {
        width: 45%;
    }
} */

@media (max-width: 922px) {
    .gallery_img a img {
        width: 49%;
    }

    .travel_news {
        height:5rem;
        width:6rem;
    }
}
